/ILN_BGY_G162_SL1_D2_T4_T4_SL2_D2_T4_T4.lsdl
.idea
.idea/*
.git
__pycache__
build/
dist/
*.txt
config.ini
db_load_new.py
depth_chart.py
depth_chart.xlsx
game_day.py
mysql_db_config.py
ootp.py
ootp_functions.py
update.py
update_functions.py